@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.scroll-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-content {
  display: flex;
  gap: 150px;
  width: max-content;
  animation: loopScroll 15s linear infinite;
}

@keyframes loopScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
}

* {
  top: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
